.title {
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15rem;
    font-weight: bold;
    line-height:12rem;
}

header#Logan {
    left: 2rem;
    top: 2rem;
}

header#Stack {
    right: 2rem;
    bottom: 2rem;
}