.home_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    min-height: 100%;
    width: 100%;
    /* background-color: rgb(233, 206, 243); */
}

.home_container_left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 50%;
    height: 100%;
    padding: 3vw;
    justify-content: flex-end;
    /* background-color: rgb(186, 240, 222); */
}

.home_container_right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 50%;
    align-content: center;
    padding: 20px;
    /* background-color: rgb(227, 238, 172); */
}

.font_awesome_icons {
    padding: 0px 10px;
    font-size: 2rem;
    /* background-color: rgb(155, 202, 186); */
}

.image_hand {
    width: 60%;
    margin: auto;
}

.hand img {
    display: block;
    width: 100%;
    max-width: 550px;
    height: auto;
    margin: auto;
    transform: rotate(15deg);
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@keyframes rotateImage {
    0% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

.hand img:hover {
    animation: rotateImage .2s infinite alternate;
}