.home_section {
    margin: auto;
    padding-left: 5vw;
}

.font_awesome_icons {
    padding: 0px 10px;
    font-size: 2.2rem;
}


@keyframes rotateImage {
    0% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

.image_hand:hover {
    animation: rotateImage .2s infinite alternate;
}

@media screen and (min-width: 992px) {
    .home {
        padding-top: 50%;
    }
}