.question_mark img {
    display: block;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: auto;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}