.info_section {
    padding-left: 6vw;
}

.info_header {
    padding-top: 1.5rem;
    line-height: 150px;
    font-size: 10rem;
    font-weight: bold;
}

.info_description {
    width: 60ch;
    font-size: 1.3rem;
    padding-left: .9vw;
}