.info_section {
    padding-left: 6vw;
}

.info_header {
    margin: 0;
    padding-top: 2rem;
    font-size: 10rem;
    font-weight: bold;
}

.info_description {
    width: 60ch;
    font-size: 1.5rem;
}