.name {
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    user-select: none;
    font-size: min(35vh, 25rem);
    font-weight: bold;
    line-height: 28vh;
}

.name_background {
    color: #272727;
}

div#Logan {
    left: 2rem;
    top: 2rem;
}

div#Stack {
    right: 2rem;
    bottom: 2rem;
}
