a {
    color: #1b1b1b;
    text-decoration: none;
}

a:hover {
    color: #dac779;
}

nav {
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    z-index: 1000;
    background: #f4f1e8;
}

nav ul {
    margin: 0;
    padding-right: 3vw;
    list-style: none;
    display: flex; 
    justify-content: flex-end; 
}

nav ul li {
    padding: 1.5vw;
    font-size: 3rem;
    font-weight: bold;
}

.nav_active {
    color: #dac779;
}

@media screen and (max-width: 1145px) {
    nav {
        left: 0;
        width: 100%;
    }
    nav ul {
        justify-content: space-evenly;
        padding:0;
    }
    nav ul li {
        font-size: 2rem;
    }
}
/* nav ul {
    margin: 0;
    padding-right: 3vw;
    list-style: none;
}

nav ul li {
    display: inline;
    padding: 1.5vw;
    float: right;
    font-size: 3rem;
    font-weight: bold;
}

.nav_active {
    color: #dac779;
} */
