a {
    color: #1b1b1b;
    text-decoration: none;
}

a:hover {
    color: #c1b997;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

nav ul {
    display: flex; 
    list-style: none;
}

nav ul li {
    padding: 1.5vw;
    font-size: 3rem;
    font-weight: bold;
}

.nav_active {
    color: #dac779;
}

#links {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}
#links a {
    padding-right:.5rem;
}

@media screen and (max-width: 1145px) {
    nav {
        left: 0;
        width: 100%;
    }
    nav ul {
        justify-content: space-evenly;
        padding:0;
    }
    nav ul li {
        font-size: 2rem;
    }
}