.work_section {
    margin: auto;
    padding-left: 5vw;
}

.work_header {
    margin: 0;
    font-size: 6.5rem;
    font-weight: bold;
}

.work_description {
    padding-left: 2rem;
    font-size: 1.5rem;
}
