@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html,
body {
  font-family: "Lato", "Calibri", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: var(--off_black);
  background-color: var(--off_white);
}

.invert_theme {
  overflow: auto;
  color: var(--off_white);
  background-color: var(--off_black);
}

header h1 {
  font-family: Merriweather, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 5rem;
  font-weight: bold;
  line-height: 7rem;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

::-moz-selection { /* Code for Firefox */
  color: var(--off_black);
  background: var(--lighter_red);
}

::selection {
  color: var(--off_black);
  background: var(--lighter_red);
}

@media (max-height : 700px) {
  .flex-container {
    min-height: 25rem;
    padding-bottom: 5rem;
  }
}
